* 
{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img
{
    width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6
{
      font-family: "Philosopher", sans-serif;
}
p, li, ol, a, .button-1, span, td, input[type=text], select, textarea, label
{
     font-family: "Poppins", sans-serif;
}

h2
{
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight:900;
    font-size: 48px;
    color: white;  
    padding-top:10px; 
    padding-bottom:5px; 
    text-align: center;
}

h3
{
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight:500;
    font-size: 30px;
    color: white;  
    text-align: center; 
     padding-top:5px; 
    padding-bottom:10px; 
}
p
{
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight:400;
    font-size:18px;
    color: white;  
    text-align: center; 
     padding-top:10px; 
    padding-bottom:10px; 
}

a
{
    text-decoration: none;
    color: black;
}

.button
{
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
     background-color:darkred;
     color: white;
     font-weight: 700;
     transition: 1s;
}
.button:hover
{
    cursor: pointer;
    background-color:red;
}

input[type=text], select, textarea {
  text-align: center;
  width: 50%;
  padding: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: transparent;
}

.netflix
{
    display: flex;

}
.netflix_c1
{
    flex: 100%;
    position: relative;
}
.netflix_bg
{
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.netflix_content
{
   width: 80%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.netflix_c1 img
{
    height:669px;
}

.enjoy
{
    display: flex;
    padding: 5px;
    border-bottom:15px solid #232323;
    background-color:#000000;
}
.enjoy_c1
{
    flex:50%;
    text-align:center;

}
.enjoy_c2
{
    flex:50%;
}
.enjoy_c1 h2
{
    padding-top:30%;
    text-align: center;
}
.enjoy_c1 p
{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.offline
{
    flex-direction:row-reverse;
}

.ready
{
    display: flex;
    background-color:#000000;
    border-bottom:15px solid #232323;
    
}
.ready_c1
{
    flex: 100%;
}


